@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url(img/bg.jpg);
    font-size: 20px;
}

.light-bg {
    background-color: yellow;
    width: 100vw;
    height: 100vh;
    position: fixed;
    opacity: 0.5;
    z-index: -1;
}

header {
    background-color: #fff;
}

nav {
background-color: #ffd173;
height: 10vh;
display: flex;
justify-content: start;
}

nav img {
    height: 80%; 
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

nav a {
    background-color: darkgreen;
    color: #fff;
    text-decoration: none;
    padding: 10px; 
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 1.5em;
}

main {
    width: 60%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    padding: 50px 0;
    font-size: 4em;
    color: navy;
}

h2 {
    margin: 10px 0;
    text-align: center;
}

h2, h3 {
    font-weight: 600;
}

.pizza{
    width: 50%;
    float: right;
}

.ingr {
    margin-bottom: 100px;
}

ul {
    list-style-position: inside;
}

.steps img {
    width: 30%;
    float: left;
    clear: left;
}

.steps {
    width: 100%;    
    overflow: hidden;
    padding: 30px;
}

.bon-appetitte {
    font-size: 4em;
    padding: 100px;
    text-align: center;
    font-weight: 900;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: 0 15px 10px -11px rgba(0, 0, 0, 0.5);
}